Esercizio 
Dal database AdventureWorks estraiamo la tabella dimproduct 
• Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, e poi al valore intero più vicino 
• Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000

In [3]:
import os
import dotenv
import sqlalchemy
import pandas as pd
import numpy as np

In [4]:
dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

True

In [7]:
username = os.getenv('username')
password = os.getenv('password')
host = os.getenv('host')
dbname = os.getenv('dbname')

In [9]:
connection_string =f'mysql+pymysql://{username}:{password}@{host}/{dbname}'
print (connection_string)

mysql+pymysql://studente_dapt:Ep1c0d3!!D4t4**4n4lys1s@epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com/AdventureWorks

In [26]:
db_engine=sqlalchemy.create_engine(connection_string)

In [54]:
query = 'select * from dimproduct'
df = pd.read_sql(query,db_engine)
df

OperationalError: (pymysql.err.OperationalError) (1044, "Access denied for user 'studente_dapt'@'%' to database 'AdventureWorks'")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Esercizio 
Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice: years = 5 guadagni = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), "Anno": np.repeat(list(range(years)), 12), "Valore": np.random.randint(800, 5000, 12*years)}) 

• Calcola la somma cumulativa dei guadagni utilizzando il metodo .cumsum() 
• Come sopra, ma raggruppato per ogni anno usando prima un .groupby()

In [18]:
import pandas as pd
import numpy as np

years = 5
guadagni = pd.DataFrame({
    'Mese': list("GFMAMGLASOND" * years), 
    "Anno": np.repeat(list(range(years)), 12), 
    "Valore": np.random.randint(800, 5000, 12 * years)
})

# somma cumulativa dei guadagni
guadagni['Somma_Cumulativa'] = guadagni['Valore'].cumsum()

print(guadagni.head(12))  # mostriamo i primi 15 record

   Mese  Anno  Valore  Somma_Cumulativa
0     G     0    2703              2703
1     F     0    4832              7535
2     M     0    3290             10825
3     A     0    4975             15800
4     M     0    4483             20283
5     G     0    2684             22967
6     L     0    4661             27628
7     A     0    2314             29942
8     S     0    3501             33443
9     O     0    3631             37074
10    N     0    2665             39739
11    D     0     998             40737

In [22]:
#• Come sopra, ma raggruppato per ogni anno usando prima un .groupby()
years = 5
guadagni = pd.DataFrame({
    'Mese': list("GFMAMGLASOND" * years), 
    "Anno": np.repeat(list(range(years)), 12), 
    "Valore": np.random.randint(800, 5000, 12 * years)
})

# somma cumulativa dei guadagni per anno
guadagni['Somma_Cumulativa'] = guadagni.groupby('Anno')['Valore'].cumsum()

print(guadagni.head(14))

   Mese  Anno  Valore  Somma_Cumulativa
0     G     0    3857              3857
1     F     0    2789              6646
2     M     0    1181              7827
3     A     0    3095             10922
4     M     0    1550             12472
5     G     0    1632             14104
6     L     0    3318             17422
7     A     0    1692             19114
8     S     0    1195             20309
9     O     0     898             21207
10    N     0    2549             23756
11    D     0    4148             27904
12    G     1    4973              4973
13    F     1    1200              6173

Esercizio 1/2
Dal database AdventureWorks estraiamo la tabella dimcustomer 
• Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole 
• Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio • Sulla colonna Phone, estraiamo ogni parte del numero (ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
• Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"

Esercizio 2/2
• Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10" 
• Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti 
• Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace() 
• Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"

Esercizio 1/2 
Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, che contiene dei post con data di pubblicazione, tipo (foto, video, …) e numero di reactions raccolte: 
• Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp 
• Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, eccetera

In [30]:
#Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp

import pandas as pd

# 1. il dataset
df = pd.read_csv("facebook.csv")

# 2. Conversione della colonna 'status_published' in formato Timestamp
df["status_published"] = pd.to_datetime(df["status_published"])

# 3. risultato
print(df.dtypes)        
print(df.head())
# mostra i tipi di dato delle colonne

status_id                   object
status_type                 object
status_published    datetime64[ns]
num_reactions                int64
num_comments                 int64
num_shares                   int64
num_likes                    int64
num_loves                    int64
num_wows                     int64
num_hahas                    int64
num_sads                     int64
num_angrys                   int64
dtype: object
                          status_id status_type    status_published  \
0  246675545449582_1649696485147474       video 2018-04-22 06:00:00
1  246675545449582_1649426988507757       photo 2018-04-21 22:45:00
2  246675545449582_1648730588577397       video 2018-04-21 06:17:00
3  246675545449582_1648576705259452       photo 2018-04-21 02:29:00
4  246675545449582_1645700502213739       photo 2018-04-18 03:22:00

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3
1            150             0           0        150          0         0
2            227           236          57        204         21         1
3            111             0           0        111          0         0
4            213             0           0        204          9         0

   num_hahas  num_sads  num_angrys
0          1         1           0
1          0         0           0
2          1         0           0
3          0         0           0
4          0         0           0

In [35]:
#• Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, 
#ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, il giorno dell'anno, eccetera
df = pd.read_csv('facebook.csv')

# Convertire la colonna in Timestamp
df['status_published'] = pd.to_datetime(df['status_published'])

# Creo nuove colonne con attributi .dt
df['Anno'] = df['status_published'].dt.year
df['Mese'] = df['status_published'].dt.month
df['Giorno'] = df['status_published'].dt.day
df['Giorno_settimana'] = df['status_published'].dt.dayofweek   # 0 = lunedì, 6 = domenica
df['Giorno_anno'] = df['status_published'].dt.dayofyear

print(df.head())

                          status_id status_type    status_published  \
0  246675545449582_1649696485147474       video 2018-04-22 06:00:00
1  246675545449582_1649426988507757       photo 2018-04-21 22:45:00
2  246675545449582_1648730588577397       video 2018-04-21 06:17:00
3  246675545449582_1648576705259452       photo 2018-04-21 02:29:00
4  246675545449582_1645700502213739       photo 2018-04-18 03:22:00

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3
1            150             0           0        150          0         0
2            227           236          57        204         21         1
3            111             0           0        111          0         0
4            213             0           0        204          9         0

   num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  Giorno_settimana  \
0          1         1           0  2018     4      22                 6
1          0         0           0  2018     4      21                 5
2          1         0           0  2018     4      21                 5
3          0         0           0  2018     4      21                 5
4          0         0           0  2018     4      18                 2

   Giorno_anno
0          112
1          111
2          111
3          111
4          108

Esercizio 2/2 
• Estraiamo solo i post relativi al 2012 
• Estraiamo solo i post relativi a maggio 2018 • Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana 
• Troviamo il primo e ultimo post pubblicati in ogni anno • Quanti tipi di post ci sono? E quanti per ogni tipo?

In [45]:
post_2012 = df[df["status_published"].dt.year == 2012]
print(post_2012.head(1))
print(post_2012.tail(1))

                            status_id status_type    status_published  \
2046  246675545449582_303160673134402       photo 2012-12-23 03:11:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2046              0             0           0          0          0         0

      num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  Giorno_settimana  \
2046          0         0           0  2012    12      23                 6

      Giorno_anno  giorno_settimana
2046          358                 6
                            status_id status_type    status_published  \
2634  246675545449582_246677465449390       photo 2012-07-15 02:51:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2634             15             3           0         15          0         0

      num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  Giorno_settimana  \
2634          0         0           0  2012     7      15                 6

      Giorno_anno  giorno_settimana
2634          197                 6

In [38]:
post_maggio_2018 = df[
    (df["status_published"].dt.year == 2018) &
    (df["status_published"].dt.month == 5)
]
print(post_maggio_2018.head(6))

                            status_id status_type    status_published  \
2690  134115277150304_264554297439734       photo 2018-05-31 12:17:00
2691  134115277150304_264493694112461       photo 2018-05-31 08:37:00
2692  134115277150304_264416247453539       photo 2018-05-31 03:12:00
2693  134115277150304_264168277478336       photo 2018-05-30 08:46:00
2694  134115277150304_264160757479088       photo 2018-05-30 08:24:00
2695  134115277150304_264104020818095       photo 2018-05-30 05:09:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2690             11             0           0         10          0         1
2691             56             4           2         55          1         0
2692             72            13           1         69          3         0
2693             10             0           0         10          0         0
2694             56             3          12         54          2         0
2695             45             0           3         44          1         0

      num_hahas  num_sads  num_angrys  Anno  Mese  Giorno  Giorno_settimana  \
2690          0         0           0  2018     5      31                 3
2691          0         0           0  2018     5      31                 3
2692          0         0           0  2018     5      31                 3
2693          0         0           0  2018     5      30                 2
2694          0         0           0  2018     5      30                 2
2695          0         0           0  2018     5      30                 2

      Giorno_anno
2690          151
2691          151
2692          151
2693          150
2694          150
2695          150

In [40]:
# 0 = lunedì, ..., 6 = domenica
df["giorno_settimana"] = df["status_published"].dt.dayofweek

weekend = df[df["giorno_settimana"].isin([5, 6])]
feriali = df[~df["giorno_settimana"].isin([5, 6])]

print("Post nei weekend:", len(weekend))
print("Post nei giorni feriali:", len(feriali))

Post nei weekend: 2041
Post nei giorni feriali: 5009

In [41]:
primo_post = df.groupby(df["status_published"].dt.year)["status_published"].min()
ultimo_post = df.groupby(df["status_published"].dt.year)["status_published"].max()

print("Primo post per anno:\n", primo_post)
print("Ultimo post per anno:\n", ultimo_post)

Primo post per anno:
 status_published
2012   2012-07-15 02:51:00
2013   2013-01-02 02:23:00
2014   2014-01-05 09:23:00
2015   2015-01-02 03:41:00
2016   2016-01-03 04:23:00
2017   2017-01-02 08:25:00
2018   2018-01-01 01:39:00
Name: status_published, dtype: datetime64[ns]
Ultimo post per anno:
 status_published
2012   2012-12-23 03:11:00
2013   2013-12-31 23:38:00
2014   2014-12-10 07:42:00
2015   2015-12-31 08:20:00
2016   2016-12-31 05:13:00
2017   2017-12-31 22:15:00
2018   2018-06-13 01:12:00
Name: status_published, dtype: datetime64[ns]

In [42]:
print("Tipi di post:", df["status_type"].unique())
print("Conteggio per tipo:\n", df["status_type"].value_counts())

Tipi di post: ['video' 'photo' 'link' 'status']
Conteggio per tipo:
 status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

Esercizio Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv:
• Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli ci sono in ogni colonna
• Ci sono valori nulli? 
• Se sì, avrebbe senso cercare di riempirli? • Eliminiamo le righe che contengono valori nulli

In [47]:
# 1. Carichiamo il dataset
df = pd.read_csv("pokemonData.csv")

# 2. Controlliamo se ci sono valori nulli
null_check = df.isnull().sum()
print("Valori nulli per colonna:\n", null_check)

# 3. Verifichiamo se ci sono valori nulli
print("\nCi sono valori nulli?", df.isnull().values.any())

# 4. Se ci sono valori nulli, valutiamo se riempirli
# (dipende dal contesto: ad esempio, se mancano valori numerici come 'Attack',
# potremmo sostituirli con la media o la mediana. Se mancano nomi, potremmo lasciarli vuoti.)

# 5. Eliminiamo le righe che contengono valori nulli
df_clean = df.dropna()

print("\nDimensioni originali:", df.shape)
print("Dimensioni dopo dropna:", df_clean.shape)

Valori nulli per colonna:
 Num             0
Name            0
Type1           0
Type2         386
HP              0
Attack          0
Defense         0
SpAtk           0
SpDef           0
Speed           0
Generation      0
Legendary       0
dtype: int64

Ci sono valori nulli? True

Dimensioni originali: (800, 12)
Dimensioni dopo dropna: (414, 12)

Esercizio Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv: 
• Ci sono valori nulli? Dove? Quanti? 
• Quali righe hanno un valore nullo nella colonna num-of-doors? 
• Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

In [48]:
import pandas as pd

# 1. Carichiamo il dataset
df = pd.read_csv("automobile.csv")

# 2. Controlliamo i valori nulli per colonna
null_counts = df.isnull().sum()
print("Valori nulli per colonna:\n", null_counts)

# 3. Verifichiamo se ci sono valori nulli
print("\nCi sono valori nulli?", df.isnull().values.any())

# 4. Individuiamo le righe con valori nulli in 'num-of-doors'
rows_with_null_doors = df[df['num-of-doors'].isnull()]
print("\nRighe con valori nulli in num-of-doors:\n", rows_with_null_doors)

# 5. Possibile logica per sostituire i valori nulli
# Ad esempio: guardiamo la colonna 'body-style' per capire se è più probabile 2 o 4 porte
print("\nDistribuzione num-of-doors per body-style:\n", df.groupby('body-style')['num-of-doors'].value_counts())

Valori nulli per colonna:
 symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

Ci sono valori nulli? True

Righe con valori nulli in num-of-doors:
     symboling  normalized-losses   make fuel-type aspiration num-of-doors  \
26          1              148.0  dodge       gas      turbo          NaN
60          0                NaN  mazda    diesel        std          NaN

   body-style drive-wheels engine-location  wheel-base  ...  engine-size  \
26      sedan          fwd           front        93.7  ...           98
60      sedan          fwd           front        98.8  ...          122

    fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
26         mpfi  3.03    3.39               7.6        102      5500       24
60          idi  3.39    3.39              22.7         64      4650       36

   highway-mpg  price
26          30   8558
60          42  10795

[2 rows x 26 columns]

Distribuzione num-of-doors per body-style:
 body-style   num-of-doors
convertible  two              6
hardtop      two              8
hatchback    two             58
             four            10
sedan        four            79
             two             14
wagon        four            25
Name: count, dtype: int64

In [49]:
# Sostituiamo i valori nulli in num-of-doors con 'four' se body-style è sedan
df.loc[(df['num-of-doors'].isnull()) & (df['body-style'] == 'sedan'), 'num-of-doors'] = 'four'

# Controlliamo di nuovo
print("\nValori nulli dopo sostituzione:\n", df['num-of-doors'].isnull().sum())

Valori nulli dopo sostituzione:
 0

Esercizio Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera: import numpy as np, pandas as pd temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6 7, 8, 9, 10, 11, 12], "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]}) • Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli?

In [51]:
import numpy as np
import pandas as pd 
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6,7, 8, 9, 10, 11, 12], 
                     "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]})

In [52]:
temp_clean = temp.dropna()
#Eliminare le righe con valori nulli (dropna)
#Semplice e veloce

#Rischi di perdere informazioni preziose, soprattutto se i dati mancanti non sono pochi

Esercizio 1/2 Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno di una directory; senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path per esaminare una directory specifica, ad esempio os.listdir("mio_progetto/beginner_datasets/") • Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli?