Esercizio 1/2 
Andiamo su http://www.datiopen.it/it/opendata/Mappa_dei_pub_circoli_locali_in_Italia e scarichiamo il file (in formato CSV) della mappa dei pub, circoli e locali in Italia Nota: il dataset non ha un encoding UTF-8 ma Latin1; inoltre il separatore non è una virgola, ma un punto e virgola. Dunque per leggerlo dovremo aggiungere i parametri encoding= e sep=, ad esempio: pd.read_csv(file_path, encoding="latin1", sep=";")

Esercizio 2/2 Esaminiamo il dataset:
• quanti dati ci sono in totale? 
• quali sono i metadati? 
• stampiamo il primo elemento 
• stampiamo l'ultimo elemento
• riusciamo a stampare un elemento a caso? 
• quali sono gli anni di inserimento presenti? 
• quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46? 
• quante attività ci sono nella provincia di Vicenza? 
• quante enoteche ci sono, e come si chiamano?

Esercizio 
Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute. 
• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
• E rispetto a smoker? E a sex? 
• Quali sono i descrittori statistici di bmi? Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? Nota: è lo stesso esercizio della volta scorsa, ma stavolta da eseguire con il metodo groupby

In [6]:
import os
import pandas as pd

In [11]:
#Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna

df=pd.read_csv('insurance.csv')
print(df)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [12]:
df=pd.read_csv('insurance.csv')
print(df.shape)

(1338, 7)

In [13]:
df=pd.read_csv('insurance.csv')
print(df.info)

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [21]:
df=pd.read_csv('insurance.csv')
print('\nNomi colonne:\n', df.columns)

Nomi colonne:
 Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [22]:
 #3. Medie di charges rispetto a region
df=pd.read_csv('insurance.csv')
df.groupby('region')['charges'].mean()
#Ci sono differenze significative?

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [23]:
#E rispetto a smoker? 
df=pd.read_csv('insurance.csv')
df.groupby('smoker')['charges'].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [28]:
E a sex?
df=pd.read_csv('insurance.csv')
df.groupby('sex')['charges'].mean()

Object `sex` not found.

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [30]:
#Quali sono i descrittori statistici di bmi?
df=pd.read_csv('insurance.csv')
df['bmi'].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

Esercizio Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo:
• La media della lunghezza dei petali di tutto il dataset 
• La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() 
• Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()

In [44]:
df=pd.read_csv('iris.csv')
df.sample(20)

     sepal_length  sepal_width  petal_length  petal_width          species
81            5.5          2.4           3.7          1.0  Iris-versicolor
6             4.6          3.4           1.4          0.3      Iris-setosa
76            6.8          2.8           4.8          1.4  Iris-versicolor
114           5.8          2.8           5.1          2.4   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
101           5.8          2.7           5.1          1.9   Iris-virginica
27            5.2          3.5           1.5          0.2      Iris-setosa
71            6.1          2.8           4.0          1.3  Iris-versicolor
137           6.4          3.1           5.5          1.8   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
113           5.7          2.5           5.0          2.0   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
90            5.5          2.6           4.4          1.2  Iris-versicolor
112           6.8          3.0           5.5          2.1   Iris-virginica
56            6.3          3.3           4.7          1.6  Iris-versicolor
35            5.0          3.2           1.2          0.2      Iris-setosa
7             5.0          3.4           1.5          0.2      Iris-setosa

In [34]:
#• La media della lunghezza dei petali di tutto il dataset 
df=pd.read_csv('iris.csv')
df['petal_length'].mean()

np.float64(3.758666666666666)

In [39]:
#• La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
df=pd.read_csv('iris.csv')
df.groupby('species')['petal_length'].mean()

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [41]:
#Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
df=pd.read_csv('iris.csv')
df.groupby('species')['petal_length'].agg(['mean', 'min', 'max'])

                  mean  min  max
species
Iris-setosa      1.464  1.0  1.9
Iris-versicolor  4.260  3.0  5.1
Iris-virginica   5.552  4.5  6.9

Esercizio Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini: • Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? • C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? • Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? • E per i solfati?

In [56]:
df=pd.read_csv('wine.csv')
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [57]:
df=pd.read_csv('wine.csv')
df.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
6492            6.2              0.21         0.29             1.6      0.039
6493            6.6              0.32         0.36             8.0      0.047
6494            6.5              0.24         0.19             1.2      0.041
6495            5.5              0.29         0.30             1.1      0.022
6496            6.0              0.21         0.38             0.8      0.020

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
6492                 24.0                  92.0  0.99114  3.27       0.50
6493                 57.0                 168.0  0.99490  3.15       0.46
6494                 30.0                 111.0  0.99254  2.99       0.46
6495                 20.0                 110.0  0.98869  3.34       0.38
6496                 22.0                  98.0  0.98941  3.26       0.32

      alcohol  quality   type
0         9.4        5    red
1         9.8        5    red
2         9.8        5    red
3         9.8        6    red
4         9.4        5    red
...       ...      ...    ...
6492     11.2        6  white
6493      9.6        5  white
6494      9.4        6  white
6495     12.8        7  white
6496     11.8        6  white

[6497 rows x 13 columns]>

In [53]:
#Qual è la media di concentrazione alcolica per ogni qualità?
df=pd.read_csv('wine.csv')
df.groupby('quality')['alcohol'].mean()

quality
3    10.215000
4    10.180093
5     9.837783
6    10.587553
7    11.386006
8    11.678756
9    12.180000
Name: alcohol, dtype: float64

In [2]:
import os
import pandas as pd

In [4]:
 #E rispetto alla media totale? 

df=pd.read_csv('wine.csv')
df['alcohol'].mean()

np.float64(10.491800831149453)

In [58]:
#C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? 
# i vini bianchi hanno concetrazione alcolica media di 10,51 mentre i vini rossi ne hanno 10,422,
#la differenza è dello 0,09
df=pd.read_csv('wine.csv')
df.groupby('type')['alcohol'].agg(['mean', 'min', 'max'])

            mean  min   max
type
red    10.422983  8.4  14.9
white  10.514267  8.0  14.2

In [5]:
import os
import pandas as pd

In [6]:
#E per i solfati?
df=pd.read_csv('wine.csv')
df['sulphates'].mean()

np.float64(0.5312682776666154)

In [7]:
df=pd.read_csv('wine.csv')
df.set_index('sulphates')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,alcohol,quality,type
sulphates,,,,,,,,,,,,
0.56,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,9.4,5,red
0.68,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,9.8,5,red
0.65,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,9.8,5,red
0.58,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,9.8,6,red
0.56,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...
0.50,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,11.2,6,white
0.46,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,9.6,5,white
0.46,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,9.4,6,white
0.38,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,12.8,7,white
0.32,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,11.8,6,white

Esercizio 1/3 Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni nell'area di Boston. Di seguito vengono descritte le colonne del dataset: • CRIM -tasso di criminalità pro capite per città • ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati. • INDUS - percentuale di acri di attività commerciali non al dettaglio per città. • CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)

In [8]:
import os
import pandas as pd

In [9]:
df=pd.read_csv('boston.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  black    506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [11]:
df=pd.read_csv('boston.csv')
print(df.info)

<bound method DataFrame.info of         crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio   black  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]>

In [13]:
# CRIM -tasso di criminalità pro capite per città 
df=pd.read_csv('boston.csv')
df.groupby('crim')['tax']

In [16]:
df=pd.read_csv('boston.csv')
print(df.columns)

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [20]:
# CRIM -tasso di criminalità pro capite per città 
df=pd.read_csv('boston.csv')
df.groupby('crim')['tax'].sum()

crim
0.00632     296
0.00906     285
0.01096     300
0.01301     284
0.01311     226
           ...
45.74610    666
51.13580    666
67.92080    666
73.53410    666
88.97620    666
Name: tax, Length: 504, dtype: int64

In [26]:
# ZN - proporzione di terreni residenziali suddivisi in zone per lotti superiori a 25.000 piedi quadrati.
df=pd.read_csv('boston.csv')
(df['zn'] > 25.000).sum()

np.int64(77)

In [30]:
#CHAS -variabile dummy del fiume Charles (1 se il tratto costeggia il fiume; 0 altrimenti)
df=pd.read_csv('boston.csv')
df['chas'].value_counts()

chas
0    471
1     35
Name: count, dtype: int64

In [ ]:
#INDUS - percentuale di acri di attività commerciali non al dettaglio per città.

Esercizio 2/3 • NOX -concentrazione di ossidi di azoto (parti per 10 milioni). • RM -numero medio di stanze per abitazione • AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940 • DIS - distanze ponderate da cinque centri occupazionali di Boston • RAD -indice di accessibilità alle autostrade radiali • TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari • PTRATIO - rapporto alunni-insegnanti per città • BLACK -la percentuale di neri per città • LSTAT - % di popolazione di condizione più bassa 8 • MEDV -Valore mediano delle case, espresso in migliaia di dollari

In [32]:
#NOX -concentrazione di ossidi di azoto (parti per 10 milioni).
df=pd.read_csv('boston.csv')
(df['nox'] > 0.5).mean()

np.float64(0.6205533596837944)

In [34]:
# RM -numero medio di stanze per abitazione •
df=pd.read_csv('boston.csv')
print(df['rm'].mean())

6.284634387351779

In [ ]:
# AGE -proporzione di unità abitative occupate da proprietari costruite prima del 1940 •

In [ ]:
#DIS - distanze ponderate da cinque centri occupazionali di Boston

In [ ]:
#RAD -indice di accessibilità alle autostrade radiali

In [ ]:
#TAX -aliquota dell'imposta fondiaria sul valore pieno per 10.000 dollari

In [ ]:
# PTRATIO - rapporto alunni-insegnanti per città

In [38]:
#BLACK -la percentuale di neri per città 
df=pd.read_csv('boston.csv')
print(df['black'].describe())

count    506.000000
mean     356.674032
std       91.294864
min        0.320000
25%      375.377500
50%      391.440000
75%      396.225000
max      396.900000
Name: black, dtype: float64

In [40]:
#LSTAT - % di popolazione di condizione più bassa 8
f=pd.read_csv('boston.csv')
(df['lstat'] < 8).mean()

np.float64(0.3142292490118577)

In [ ]:
#MEDV -Valore mediano delle case, espresso in migliaia di dollari

Esercizio 3/3 • La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? • Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato? • Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? Appare esserci una qualche correlazione? Come si può spiegare il risultato? • Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? E delle tasse?

Esercizio 1/3 
Abbiamo un DataFrame di dipendenti: 
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 'department_id': [1, 2, 1, 2, 3] })

Esercizio 2/3 
E un DataFrame di dipartimenti: 
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 'department_name': ['HR', 'IT', 'Finance'], 'location': ['New York', 'San Francisco', 'Chicago'] })

Esercizio 3/3 
• Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni sia sui dipendenti che sui dipartimenti, usando la funzione .merge() 
• Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; poi unire i due dataset mediante il metodo .join() 
• Ci sono differenze nel risultato? Quali? Perché?

Esercizio 
• Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame 
• Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey 
• Controlliamo la dimensione del DataFrame risultante: è quella attesa? 
• Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey 
• Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region) 
• Valutiamo la media del BaseRate per ogni paese: ci sono differenze?